*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000000;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 40px !important;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #e42460;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 50px;
}
.header-text h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.header-text h1 span{
    color: palevioletred;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
 .social-icons a:hover{
    color: palevioletred;
    transform: translateY(-5px);
 }   
.btn.btn2{
    display: inline-block;
   
}

/*-------------About----------*/
#about{
    padding: 80px 0;
    color: #ababab;
    font-size: 25px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 30%;
    font-size: 25px;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }

}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: palevioletred;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* -------services------ */
#services{
    padding: 30px 0;
}
.container .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.container .box h2{
    text-transform: uppercase;
    color: #ababab;
    font-weight: 600;
}
.container .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #ababab;
}
.container .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #86003C;
}
.interest-list{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.interest-list div{
    width: 200px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.interest-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.interest-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.interest-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.interest-list div:hover{
    background: palevioletred;
    transform: translateY(-10px);
}
.class{
    display: flex;
}
/* ---------languages-------/ */
#languages{
    padding: 30px 0;
}
.container .languages{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.container .languages h2{
    color: #ababab;
    font-weight: 600;
}
.container .languages .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #ababab;
}
.container .languages .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #86003C;
}

/* --------contact------ */
.contact-left {
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: palevioletred;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #979090;
    display: inline-block;
    transition: transform 0.5s;
}
 .social-icons a:hover{
    color: palevioletred;
    transform: translateY(-5px);
 }   c 
.btn.btn2{
    display: inline-block;
   
}
.contact-right form{
    width: 100%;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.footer-text {
    float: center; /* Align text to the left */
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .12rem;
    border-radius: 0rem;
    transition: .5s ease;
    float: right;
    color: #ababab;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #e42460;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: white; 
}


/* breakpoints */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 1% 2rem;
    }
    .footer{
       padding: 2rem; 
    }

    .background{
        padding: 0rem;
    } 
}



